@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1{
    color: red;
    font-size: 10px;
    font-size: 1em;
}